<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>StockPilot IMS - Add New Product</title>
</head>

<body>
  <div align="center">
    <h1>Add New Product to Inventory</h1>
    <hr>

    <form action="#" th:action="@{/saveProduct}" th:object="${product}" method="POST">
      <input type="hidden" th:field="*{id}" />
      <table border="0" cellpadding="10">
        <tr>
          <td>Product Name:</td>
          <td><input type="text" th:field="*{name}" required /></td>
        </tr>
        <tr>
          <td>SKU (Unique Code):</td>
          <td><input type="text" th:field="*{sku}" required /></td>
        </tr>
        <tr>
          <td>Quantity:</td>
          <td><input type="number" th:field="*{quantity}" required /></td>
        </tr>
        <tr>
          <td>Price:</td>
          <td><input type="number" th:field="*{price}" required /></td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <button type="submit">Save Product</button>
          </td>
        </tr>
      </table>
    </form>

    <br>
    <a th:href="@{/}">Back to Inventory List</a>
  </div>
</body>

</html>